/* src/components/Todo.css */
.data-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-container p {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.items {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.items > li {
  font-size: 18px;
  color: #555;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-right: 5px;
}

.items > li:hover {
  background-color: #f1f1f1;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn {
  background-color: #28a745;
  color: white;
  padding : 3px 4px;
  border-radius: 4px;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.add-btn:hover {
  background-color: #218838;
}


.delete-btn {
  background-color: #dc3545;
  color: white;
  padding : 3px 4px;
  border-radius: 4px;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  
}

.delete-btn:hover {
  background-color: #c82333;
}


.delete{
  font-size: 25px;
  
}

.todo-box {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.delete-all-user{
  background-color: red;
  color: white;
  width: 7rem;
  
}

.delete-all-user:hover{
  background-color: rgb(118, 6, 6);
  transition: all 0.3s ease-in-out;
}
